[Desktop Entry]
Name=Deezer2
StartupNotify=true
Icon=deezer
Comment=Deezer audio streaming service
Exec=/usr/bin/deezer2 %u
Terminal=false
Type=Application
MimeType=x-scheme-handler/deezer;
StartupWMClass=deezer
Categories=Audio;Music;Player;AudioVideo;
