name: PKGBUILD CI

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  pkgbuild:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Makepkg Build and Check
        id: makepkg
        uses: edlanglois/pkgbuild-action@v1

      - name: Print Package Files
        run: |
          echo "Successfully created the following package archive"
          echo "Package: ${{ steps.makepkg.outputs.pkgfile0 }}"

      - name: Create release
        uses: softprops/action-gh-release@v2
        id: create_release
        with:
          draft: false
          prerelease: false
          overwrite: true
          body: ''
          name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Package Archive
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.makepkg.outputs.pkgfile0 }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
