name: PKGBUILD CI

on:
  push:
    tags:
      - '*'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux:base-devel
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fix permissions
        # Create a builder user because makepkg cannot run as root
        run: |
          useradd -m builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
          chown -R builder:builder .

      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm --needed git p7zip asar imagemagick npm electron38 hicolor-icon-theme

      - name: Build Package
        run: |
          su builder -c "makepkg -s --noconfirm"

      # Upload Artifacts
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: deezer-package
          path: ./*.pkg.tar.zst
          if-no-files-found: error

      # Create Release
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: deezer-*.pkg.tar.zst
